<table>
    <tr>
        <th>Staff No.</th>
        <th>Branch No.</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Salary</th>
        <th>Position</th>
        <th>Edit</th>
    </tr>
<% for (const staffmem of staff) { %>
    <tr>
        <td><%= staffmem.StaffNo %></td>
        <td><%= staffmem.BranchNo %> </td>
        <td><%= staffmem.Name %></td>
        <td><%= staffmem.Gender %></td>
        <td><%= staffmem.Salary %></td>
        <td><%= staffmem.Position %></td>
        <td><a href=<%- JSON.stringify(staffmem.EditUrl) %> >Edit</a></td>
    </tr>
<% } %>
</table>