<table>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Salary</th>
        <th>Position</th>
    </tr>
<% staff.forEach((staffmem) => { %>
    <tr>
        <td><%= staffmem.StaffNo %></td>
        <td><%= staffmem.Name %></td>
        <td><%= staffmem.Gender %></td>
        <td><%= staffmem.Salary %></td>
        <td><%= staffmem.Position %></td>
    </tr>
<% }); %>
</table>