<!DOCTYPE html>
<head>
    <%- include("common_headers") %> 
</head>
<body>
    <%- include("nav-bar") %>
    <div>
        <h2>Submit a new Rental</h2>
        <%- include("forms/rental_form") %>
    </div>
    <div>
        <h2>Return video</h2>
        <%- include("forms/return_form") %> 
    </div>
    <div>
        <h2>Rental Listing</h2>
        <div class="table-wrapper">
            <%- include("tables/rental_table", rentals) %> 
        </div>
    </div>
</body>