<table>
    <tr>
        <th>Rental No</th>
        <th>Member No</th>
        <th>Videos</th>
    </tr>
    <% rentals.forEach(rental => { %>
    <tr>
        <td><%- rental.RentalNo %> </td>
        <td><%- rental.MemberNo %> </td>
        <td>
            <table class="inner-table">
                <tr>
                    <th>Catalog No</th>
                    <th>Video No</th>
                    <th>Title</th>
                    <th>Date Out</th>
                    <th>Date Returned</th>
                </tr>
            <% rental.Videos.forEach(video => { %>
                <tr>
                    <td><%- video.CatalogNo %> </td>
                    <td><%- video.VideoNo %> </td>
                    <td><%- video.Title %></td>
                    <td><%- video.DateOut.toISOString().split("T")[0] %></td>
                <% if (video.DateReturn) { %>
                    <td><%- video.DateReturn.toISOString().split("T")[0] %> </td>
                <% } else { %>
                    <td>NOT RETURNED</td>
                <% } %> 
                </tr>
            <% }) %>
            </table>
        </td>
    </tr>
    <% }); %>
</table>