<!DOCTYPE html>
<html>
<head>
    <title>Stay Home - Staff</title>
    <%- include("common_headers") %> 
</head>
<body>
    <%- include("nav-bar") %>
    <h3>Team Queries</h3>
    <ul>
        <% for( file of files ) { %>
        <% const link = new URLSearchParams({filename: file}) %> 
        <li>
            <span><%= file %> - </span>
            <a href=<%= "/team-queries/file?" + link.toString() %>>See</a>
            <a href=<%= "/team-queries/run?" + link.toString() %>>Run</a>
        </li>
        <% } %>
    </ul>
</body>
</html>